<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Explorer</title>

    <!-- CSS is placed here-->
  </head>
  <body>
    <header>
      <h1>Movie Explorer</h1>
      <form action="/search" method="get">
        <input type="text" name="title" placeholder="Movie title..." autofocus>
        <button type="submit" role="button">Search</button>
      </form>
    </header>
    <main>
      <section>
        <p>Search results: [3] Movies found</p>
        <ul>
          <li>[Movie 1]</li>
          <li>[Movie 2]</li>
          <li>[Movie 3]</li>
        </ul>
      </section>
    </main>
    <footer>&copy; 2023 by SuperCorporation, Inc.</footer>

    <!-- JS is placed here-->
  </body>
</html>