<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Explorer</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" /> 
  </head>
  <body>
    <header>
      <h1>Movie Explorer</h1>
      <form action="#" method="get">
        <input type="text" name="title" placeholder="Movie title..." autofocus>
        <button type="submit" role="button">Search</button>
      </form>
    </header>
    <main>
      <section>
        <p>Search results: <strong>3</strong> Movies found</p>
        <ul>
          <li>
            <figure class="movieposter">
              <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Movie 1">
              <figcaption>[Movie 1]</figcaption>
            </figure>
          </li>
          <li>
            <figure class="movieposter">
              <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Movie 2">
              <figcaption>[Movie 2]</figcaption>
            </figure>
          </li>
          <li>
            <figure class="movieposter">
              <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Movie 3">
              <figcaption>[Movie 3]</figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </main>
    <footer>&copy; 2023 by SuperCorporation, Inc.</footer>

    <!-- JS is placed here-->
  </body>
</html>